@model ERP.Models.Pe

@{
    ViewData["Title"] = "تعديل مرجع";
}
@section CssFiles{
    <link href="~/css/Pe/Create.css" rel="stylesheet" />
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>

}
<h1 style="font-size:40px;">تعديل</h1>
<hr />
<br />
<form asp-action="Index" id="getBackForm">
    <span class="to-top" onclick="GoIndex()">
        <i class='bx bx-arrow-back'></i>
    </span>
</form>
<div class="crud">
    <form asp-action="Edit">

        <div class="inputs" id="EditInput">
            <div class="inputs-1">
                <input type="hidden" asp-for="IdPe" />
                <div class="box-left">
                    <div style="text-align:start">
                        <span>الاسم</span>
                    </div>
                    <input asp-for="NaPe" type="text" placeholder="الاسم">
                    <span asp-validation-for="NaPe" class="text-danger right"></span>
                </div>

                <div class="box-right">
                    <div style="text-align:start">
                        <span>الموبايل</span>
                    </div>
                    <input asp-for="PhoPe" class="form-control" style="direction:ltr" type="text" id="phone" placeholder="الموبايل" />
                    <span asp-validation-for="PhoPe" class="text-danger left"></span>
                </div>


            </div>

            <div class="inputs-3">
                <div class="box-start">
                    <div style="text-align:start">
                        <span>المدينة</span>
                    </div>
                    <input asp-for="CiPe" type="text" placeholder="المدينة">
                    <span asp-validation-for="CiPe" class="text-danger left"></span>
                   
                </div>
                <div class="box-center">
                    <div style="text-align:start">
                        <span>العمل</span>
                    </div>
                    <input asp-for="JoPe" type="text" placeholder="العمل">
                    <span asp-validation-for="JoPe" class="text-danger right"></span>
                </div>

                <div class="box-end">
                    <div style="text-align:start">
                        <span>الجنسية</span>
                    </div>
                    <input asp-for="NatPe" type="text" placeholder="الجنسية">
                    <span asp-validation-for="NatPe" class="text-danger right"></span>
                   
                </div>
            </div>
           
            <div class="inputs-4">
                <div class="box-left">
                    <div style="text-align:start">
                        <span>تاريخ اخر تواصل</span>
                    </div>
                    <input asp-for="DaEnPe" class="form-control" type="date" />
                    <span asp-validation-for="DaEnPe" class="text-danger right"></span>
                </div>

                <div class="box-right">
                    <div style="text-align:start">
                        <span>تاريخ التعرف</span>
                    </div>
                    <input asp-for="DaPe" type="date" placeholder="تاريخ التعرف">
                    <span asp-validation-for="DaPe" class="text-danger left"></span>
                </div>
            </div>

            <div class="inputs-5" >
                <div class="box-left">
                    <div style="text-align:start">
                        <span>الشهادة العلمية</span>
                    </div>
                    <input asp-for="CerPe" type="text" placeholder="الشهادة العلمية">
                    <span asp-validation-for="CerPe" class="text-danger right"></span>
                </div>

                <div class="box-right">
                    <div style="text-align:start">
                        <span>البريد الإلكتروني</span>
                    </div>
                    <input asp-for="EmPe" type="text" style="direction:ltr" placeholder="البريد الالكتروني">
                    <span asp-validation-for="EmPe" class="text-danger left"></span>
                </div>
            </div>

            <div class="inputs-6">
                <div class="box-start">
                    <div style="text-align:start">
                        <span>النوع</span>
                    </div>
                    <select asp-for="TyPe" asp-items="ViewBag.TyPe"></select>
                    <span asp-validation-for="TyPe" class="text-danger left"></span>
                </div>

                <div class="box-center">
                    <div style="text-align:start">
                        <span>المعرف</span>
                    </div>
                    <select asp-for="Id1Pe" class="form-control" asp-items="ViewBag.Id1Pe" id="ddlCustomers"><option selected="selected" disabled="disabled">المعرف</option></select>
                    <span asp-validation-for="Id1Pe" class="text-danger right"></span>
                </div>
                

                <div class="box-end">
                    <div style="text-align:start">
                        <span>التصنيف</span>
                    </div>
                    <select asp-for="IdPeCat" class="form-control" asp-items="ViewBag.IdPeCat"></select>
                    <span asp-validation-for="IdPeCat" class="text-danger left"></span>
                </div>
            </div>

            <div class="inputs-7">
                <div class="box-right" id="box-right">
                    <div style="text-align:start">
                        <span>طريقة التعارف</span>
                    </div>
                    <input asp-for="MetPe" class="form-control" type="text" placeholder="طريقة التعارف">
                    <span asp-validation-for="MetPe" class="text-danger left"></span>
                </div>
                <input asp-for="DaNpe" class="form-control" type="hidden" value="@Model.DaNpe" placeholder="تاريخ تسجيل القيد" />

            </div>

            <div class="inputs-8">
                <div class="box-textarea" id="box-textarea">
                    <div style="text-align:center;align-self:center ">
                        <span>الملاحظات</span>
                    </div>
                    <textarea asp-for="NotPe" placeholder="الملاحظات"></textarea>
                    <span asp-validation-for="NotPe" class="text-danger"></span>
                </div>
            </div>

            <button id="AddPe" class="submit">تعديل </button>
            <br />
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    @if (ViewBag.ChangeName != null)
    {
        <script>
            alert("يجب تغيير اسم المرجع");
        </script>
    }
    @if (ViewBag.ChangePhone != null)
    {
        <script>
            alert("يجب تغيير رقم الهاتف");
        </script>

    }
}





